* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Google Sans', sans-serif;
}

:root {
    --bg: #151515;
    --primary: #049CE4;
    --secondry: #EBEBEB;
}

body {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    height: 100vh; /* Высота на весь экран */
    margin: 0;
    background-color: #151515;
    background: radial-gradient(circle, transparent 20%, #151515 20%, #151515 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #151515 20%, #151515 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#444cf7 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #444cf7 2px, #151515 2px) -1px 0;
    background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;

}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
    padding-top: 45px;
    padding-bottom: 45px;
    border-radius: 20px;
    background: #1616167a;
    backdrop-filter: blur(4px);
    border: 1px solid #222;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
}

.header img {
    border-radius: 20px;
    width: 185px;
    height: 185px;
    animation: shadow-move 4s infinite;
}

@keyframes shadow-move {
    0% {
      box-shadow: 10px 10px 0 0 rgb(177 148 170 / 60%); /* Правый нижний угол */
    }
    25% {
      box-shadow: -10px 10px 0 0 rgb(177 148 170 / 60%); /* Левый нижний угол */
    }
    50% {
      box-shadow: -10px -10px 0 0 rgb(177 148 170 / 60%); /* Левый верхний угол */
    }
    75% {
      box-shadow: 10px -10px 0 0 rgb(177 148 170 / 60%); /* Правый верхний угол */
    }
    100% {
      box-shadow: 10px 10px 0 0 rgb(177 148 170 / 60%); /* Возвращаемся к правому нижнему углу */
    }
  }

.header h1 {
    font-weight: 700;
    font-size: 64px;
    letter-spacing: 0.1em;
    color: #fff;
    text-box: trim-both cap alphabetic;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

#links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 320px;
    flex-wrap: wrap;
}

.link {
    color: #fff;
    text-decoration: none;
    padding: 16px;
    border: 1px solid #222;
    border-radius: 20px;
    width: 64px;
    height: 64px;
    backdrop-filter: blur(2px);
    background: rgba(30, 30, 30, 0.5);
    border: 1px solid #222;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.link:hover {
    color:#535ae0;
    border-color: #535ae0;
}

.link svg {
    font-size: 32px;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.project {
    border: 1px solid #222;
    border-radius: 15px;
    backdrop-filter: blur(1px);
    background: rgba(30, 30, 30, 0.5);
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap:20px;
    text-decoration: none;
    transition: 0.3s;
}

.p_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.p_header h2 {
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.1em;
    color: #fff;
    transition: 0.3s;
}

.p_header svg {
    font-size: 16px;
    color:#9C9C9C;
    transition: 0.3s;
}

.project p {
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.1em;
    color: #949494;
}

.project:hover {
    transition: 0.3s;
    border-color: #535ae0;

    .p_header svg {
        color: #535ae0;
        transition: 0.3s;
    }

    .p_header h2 {
        color: #535ae0;
        transition: 0.3s;
    }
}

@media screen and (max-width: 768px) {
    .header h1 {
        font-size: 32px;
    }

    #links {
        width: 100%;
    }
    .project p {
        font-size: 10px;
    }
}